* {
    border-radius: 0;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    min-height: 12px;
}

window#waybar {
    font-family: "spleen-8x16.ttf";
    font-size: 16px;
    background-color: #005577; 
    color: #ffffff;
}

#workspaces button {
    padding: 3px 1px 0 1px;
    background-color: #0b0b0b;
    color: #ffffff;
    min-width: 24px;
}

#workspaces button:hover {
    background: inherit;
}

#workspaces button.focused {
    background-color: #005577; 
}

#tray{
    padding-left: 5px;
}

#custom-separator {
    background-color: #0b0b0b;
    color: #808080;
}

#image {
    background-color: #0b0b0b;
}

@keyframes move {
    from {
        padding-left: 0px;
        padding-right: 300px;
    }
    40% {
        padding-left: 300px;
        padding-right: 0px;
        opacity: 1;
    }
    42% {
        padding-left: 300px;
        padding-right: 0px;
        opacity: 0;
    }
    98% {
        padding-left: 0px;
        padding-right: 300px;
        opacity: 0;
    }
    to {
        padding-left: 0px;
        padding-right: 300px;
        opacity: 1;
    }
}

#image.marisa image {
    animation-name: move;
    animation-duration: 20s;
    animation-timing-function: steps(66);
    animation-iteration-count: infinite;
}

#window {
    padding: 0 10px;
}

#custom-network,
#custom-marisa,
#custom-before_marisa,
#custom-after_marisa,
#custom-btc-brl,
#custom-cpu_load,
#custom-cpu_temp,
#temperature,
#custom-top_process,
#custom-memory,
#clock,
#tray
{
    color: #ffffff;
    background-color: #0b0b0b;
}

